
@mixin tablet {
    @media( min-width: map-get($breakpoints, 'md')) {
        @content;
    }
}

@mixin laptop {
    @media( min-width: map-get($breakpoints, 'lg')) {
        @content;
    }
}

@mixin desktop {
    @media( min-width: map-get($breakpoints, 'xl')) {
        @content;
    }
}

.body {
    font-size: 12px;

    @include tablet { 
        font-size: 14px;
    }

    @include latop {
        font-size: 16px
    }

    @include desktop() {
        font-size: 18px
    }
}